*{
    margin: 0;
    padding: 0;
    background: #050813;
}
/* .home{
    background-image: url("../image/bg\ index.jpg");
    background-size: cover;
    height:100vh;
    width: 100vw;
 background-repeat: no-repeat;
} */

  .container{
    display: grid;
    grid-template-columns: 75vw  25vw;
    grid-template-rows: 40vh 100vh ;
   
}
.lesJouers{
    grid-area: 1 / 1 / 2 / 3;
}
.terain{
    grid-area: 2 / 1 / 3 / 2;
}
.reserve{
    grid-area: 2 / 2 / 3 / 3; 
    
}

.cardesJouers{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: scroll;
}
.cardeJouer{
    height: 100%;
    width: 191.22px;
    background: url(/asset/image/badge_gold.webp);
    background-size: contain;
    background-repeat : no-repeat ;
}

.reserveJouers{
    height: 100%;
    width: 25vw;
    display: grid;
    grid-template-columns:  1fr;
  
  grid-template-rows: 40vh; /* Let the rows grow based on content */
  grid-auto-rows: 40vh;
  overflow: scroll;
  justify-items: center; 

}
.cardereserve{
    
    height:  40vh;

}



/* .reserveJouers,.cardesJouers::-webkit-scrollbar{
    width: 6px;
} */
/* .reserveJouers,.cardesJouers::-webkit-scrollbar-track{
    background: #050813;
} */
/* .reserveJouers,.cardesJouers::-webkit-scrollbar-thumb{
    background: gold;
    border-radius: 10px;
} */



























@media  (max-width:600px)  {
    .container{
        
        grid-template-rows: 40vh 80vh 40vh;
      
    }
    .terain{
        grid-area: 2 / 1 / 3 / 3;
    }
    .reserve{
        grid-area: 3 / 1 /4/ 3;   
    }
    .reserveJouers{
        height:  40vh;
        width: 100vw;
        display: flex;
      overflow: scroll;
      
    
    }
}







